# **Step 3 --- Feature Engineering**

In [1]:
#Importing all the necessary libraries
import os
import talib
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
pip install ta

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ta in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.10.2)
Requirement already satisfied: numpy in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ta) (2.3.5)
Requirement already satisfied: pandas in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ta) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas->ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas->ta) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas->ta) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas->ta) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\USER\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
df = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\LuxDev DSA\Capstone-Project\Crypto-BuySell-Model\notebooks\data\processed\BTCUSDT_1d.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   object
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   object
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   float64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
dtypes: float64(9), object(2)
memory usage: 86.1+ KB

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume
0,2023-03-03,23465.32,23476.95,21971.13,22354.34,319954.19785,2023-03-03 23:59:59.999,7.167185e+09,8214639.0,156827.31366,3.512245e+09
1,2023-03-04,22354.34,22410.00,22157.08,22346.57,121257.38132,2023-03-04 23:59:59.999,2.706423e+09,4169260.0,60043.33153,1.340205e+09
2,2023-03-05,22346.57,22662.09,22189.22,22430.24,154841.75786,2023-03-05 23:59:59.999,3.473011e+09,4835978.0,77394.35765,1.735989e+09
3,2023-03-06,22430.24,22602.19,22258.00,22410.00,203751.82957,2023-03-06 23:59:59.999,4.569102e+09,6471278.0,102110.26304,2.289889e+09
4,2023-03-07,22409.41,22557.91,21927.00,22197.96,292519.80912,2023-03-07 23:59:59.999,6.517595e+09,7813394.0,145498.64219,3.242137e+09

In [4]:
df = df.drop("1_day_return",axis=1)
df.info()

KeyError: "['1_day_return'] not found in axis"

In [3]:
df['return_1d'] = df['close'].pct_change(1)
df['return_1d']

0           NaN
1     -0.000348
2      0.003744
3     -0.000902
4     -0.009462
         ...
995   -0.004578
996    0.024667
997    0.016930
998   -0.010533
999    0.005267
Name: return_1d, Length: 1000, dtype: float64

In [4]:
df['return_7d'] = df['close'].pct_change(7)
df['return_7d']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
995   -0.113566
996   -0.078839
997   -0.042456
998   -0.060142
999   -0.040684
Name: return_7d, Length: 1000, dtype: float64

In [5]:
df["rolling_volatility"] = df["close"].pct_change().rolling(7).std()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   object
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   object
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   float64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
 11  return_1d           999 non-null    float64
 12  return_7d           993 non-null    float64
 13  rolling_volatility  993 non-null    float64
dtypes: float64(12), object(2)
memory usage: 109.5+ KB

In [6]:
df.tail()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume,return_1d,return_7d,rolling_volatility
995,2025-11-22,85129.42,85620.00,83500.00,84739.74,14193.93263,2025-11-22 23:59:59.999,1.197657e+09,4697593.0,6688.79428,5.645621e+08,-0.004578,-0.113566,0.019002
996,2025-11-23,84739.75,88127.64,84667.57,86830.00,19734.46418,2025-11-23 23:59:59.999,1.708685e+09,5063493.0,10406.51703,9.012105e+08,0.024667,-0.078839,0.024744
997,2025-11-24,86830.00,89228.00,85272.00,88300.01,24663.12795,2025-11-24 23:59:59.999,2.150394e+09,6189156.0,12438.87518,1.085485e+09,0.016930,-0.042456,0.026320
998,2025-11-25,88300.01,88519.99,86116.00,87369.96,19567.04110,2025-11-25 23:59:59.999,1.708989e+09,4838747.0,9423.17985,8.231235e+08,-0.010533,-0.060142,0.025605
999,2025-11-26,87369.97,88224.00,86306.77,87830.16,11998.43031,2025-11-26 23:59:59.999,1.047401e+09,2952754.0,5878.35646,5.131996e+08,0.005267,-0.040684,0.025889

In [8]:
df["rsi"] = talib.momentum.RSIIndicator(df["close"]).rsi()
df["sma_20"] = df["close"].rolling(20).mean()
df["sma_50"] = df["close"].rolling(50).mean()
df["sma_200"] = df["close"].rolling(200).mean()
df.info()

AttributeError: module 'talib' has no attribute 'momentum'

In [ ]:
# Calculate Bollinger Bands
upper, middle, lower = ta.BBANDS(df['close'], timeperiod=20, nbdevup=2, nbdevdn=2)

df['bb_upper'] = upper
df['bb_middle'] = middle
df['bb_lower'] = lower

# Plot
plt.figure(figsize=(14, 7))
plt.plot(df.index, df['close'], label='Close Price', linewidth=2)
plt.plot(df.index, df['bb_upper'], label='Upper Band', linestyle='--', alpha=0.7)
plt.plot(df.index, df['bb_middle'], label='Middle Band (SMA)', linestyle='--', alpha=0.7)
plt.plot(df.index, df['bb_lower'], label='Lower Band', linestyle='--', alpha=0.7)
plt.fill_between(df.index, df['bb_upper'], df['bb_lower'], alpha=0.1)
plt.title('Bollinger Bands')
plt.legend()
plt.show()

AttributeError: module 'ta' has no attribute 'BBANDS'

In [ ]:
macd, signal, histogram = ta.MACD(df['close'], fastperiod=12, slowperiod=26, signalperiod=9)

df['macd'] = macd
df['macd_signal'] = signal
df['macd_histogram'] = histogram

# Create subplots
fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(14, 10), sharex=True)

# Plot 1: Price
ax1.plot(df.index, df['close'], label='Close Price', linewidth=2)
ax1.set_ylabel('Price')
ax1.set_title('Price Chart')
ax1.legend()
ax1.grid(True, alpha=0.3)

# Plot 2: MACD
ax2.plot(df.index, df['macd'], label='MACD Line', linewidth=2, color='blue')
ax2.plot(df.index, df['macd_signal'], label='Signal Line', linewidth=2, color='red')

# Histogram with colors (green = positive, red = negative)
colors = ['green' if val >= 0 else 'red' for val in df['macd_histogram']]
ax2.bar(df.index, df['macd_histogram'], label='Histogram', color=colors, alpha=0.3)

# Add zero line
ax2.axhline(y=0, color='black', linestyle='--', linewidth=1, alpha=0.5)

ax2.set_ylabel('MACD')
ax2.set_xlabel('Date')
ax2.set_title('MACD Indicator')
ax2.legend()
ax2.grid(True, alpha=0.3)

plt.tight_layout()
plt.show()

AttributeError: module 'ta' has no attribute 'MACD'

In [ ]:
#Stochastic Oscillator
df['stochastic_oscillator'] = ta.momentum.StochasticOscillator(
    high=df['high'],
    low=df['low'],
    close=df['close']
).stoch()

### Step 4 --- Label Generation (Target Variable)

In [ ]:
df["future_return"] = df["close"].pct_change().shift(-1)

def label(row):
    if row["future_return"] > 0.02:
        return 2
    elif row["future_return"] < -0.02:
        return 0
    else:
        return 1

df["label"] = df.apply(label, axis=1)

In [ ]:
df.tail()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,...,macd,macd_signal,macd_histogram,rsi,sma_20,sma_50,sma_200,stochastic_oscillator,future_return,label
995,2025-11-22,85129.42,85620.00,83500.00,84739.74,14193.93263,2025-11-22 23:59:59.999,1.197657e+09,4697593.0,6688.79428,...,-5891.398140,-4624.593602,-1266.804538,22.795101,97589.5980,106913.9406,110235.70950,15.389368,0.024667,2
996,2025-11-23,84739.75,88127.64,84667.57,86830.00,19734.46418,2025-11-23 23:59:59.999,1.708685e+09,5063493.0,10406.51703,...,-5907.964626,-4881.267807,-1026.696819,28.608261,96601.9460,106202.7206,110184.70700,23.159851,0.016930,1
997,2025-11-24,86830.00,89228.00,85272.00,88300.01,24663.12795,2025-11-24 23:59:59.999,2.150394e+09,6189156.0,12438.87518,...,-5736.351079,-5052.284461,-684.066617,32.459800,95942.0855,105499.0746,110109.89905,28.624572,-0.010533,1
998,2025-11-25,88300.01,88519.99,86116.00,87369.96,19567.04110,2025-11-25 23:59:59.999,1.708989e+09,4838747.0,9423.17985,...,-5610.716521,-5163.970873,-446.745648,31.308933,95116.3255,104753.3030,110031.88890,27.371810,0.005267,1
999,2025-11-26,87369.97,88224.00,86306.77,87830.16,11998.43031,2025-11-26 23:59:59.999,1.047401e+09,2952754.0,5878.35646,...,-5411.633987,-5213.503496,-198.130491,32.582659,94440.5315,104083.2472,109946.99205,30.786276,NaN,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   open_time              1000 non-null   object
 1   open                   1000 non-null   float64
 2   high                   1000 non-null   float64
 3   low                    1000 non-null   float64
 4   close                  1000 non-null   float64
 5   volume                 1000 non-null   float64
 6   close_time             1000 non-null   object
 7   quote_asset_volume     1000 non-null   float64
 8   num_trades             1000 non-null   float64
 9   taker_base_volume      1000 non-null   float64
 10  taker_quote_volume     1000 non-null   float64
 11  return_1d              999 non-null    float64
 12  return_7d              993 non-null    float64
 13  rolling_volatility     993 non-null    float64
 14  bb_upper               981 non-null    float64
 15  bb_middle              981 non-null    float64
 16  bb_lower               981 non-null    float64
 17  macd                   967 non-null    float64
 18  macd_signal            967 non-null    float64
 19  macd_histogram         967 non-null    float64
 20  rsi                    987 non-null    float64
 21  sma_20                 981 non-null    float64
 22  sma_50                 951 non-null    float64
 23  sma_200                801 non-null    float64
 24  stochastic_oscillator  987 non-null    float64
 25  future_return          999 non-null    float64
 26  label                  1000 non-null   int64
dtypes: float64(24), int64(1), object(2)
memory usage: 211.1+ KB

In [ ]:
df["future_return"].value_counts()

future_return
-0.000348    0.001001
 0.003744    0.001001
-0.000902    0.001001
-0.009462    0.001001
-0.022188    0.001001
               ...
-0.004578    0.001001
 0.024667    0.001001
 0.016930    0.001001
-0.010533    0.001001
 0.005267    0.001001
Name: proportion, Length: 999, dtype: float64

In [ ]:
def save_processed_csv(df, symbol, interval):

#Save a DataFrame into data/raw/(symbol_interval).csv
    os.makedirs("data/processed", exist_ok=True)
    file_path = f"data/processed/{symbol}_{interval}.csv"
    df.to_csv(file_path, index=False)
    print(f"Saved: {file_path}")

save_processed_csv(df, "BTCUSDT", "1dmodified")

NameError: name 'df' is not defined